* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    width: 100%;
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
}

.welcome h1 {
    text-align: center;
}

.all {
    text-align: center;
}

.project {
    background-color: #fff;
    margin: 12px 2px;
}

.project a {
    display: block;
    background-color: #ccc;
}

.project p {
    padding: 10px;
    border: 1px solid #ccc;
}