/* 初始化 */

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

img,
a {
    -webkit-touch-callout: none;
}

em {
    font-style: normal;
}

a {
    text-decoration: none;
    color: #222;
}

input,
button {
    outline-style: none;
    border-style: none;
}

input {
    -webkit-appearance: none;
}

div {
    box-sizing: border-box;
}


/* 整体设置 */

body {
    width: 100%;
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: 400 16px/1.5 PingFangSC-regular, Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    color: #000;
    background-color: #f2f2f2;
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
}


/* 搜索模块 */

.search_index {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    /* 固定的盒子必须要有宽度 */
    width: 100%;
    height: 44px;
    display: flex;
    height: 44px;
    /* 固定定位跟父级没关系，以屏幕为准 */
    min-width: 320px;
    max-width: 540px;
    /* 默认为X为主轴 */
    flex-direction: row;
    background-color: #f6f6f6;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    z-index: 9999;
}


/* 右边用户登陆模块 */


/* 登陆 字体：我的 */

.user {
    width: 44px;
    height: 44px;
    /* 自己屁股对准最右边 */
    /* align-self: flex-end; */
    font-size: 12px;
    text-align: center;
    color: #2eaae0;
}


/* 图片 */

.user::before {
    display: block;
    content: "";
    width: 24px;
    height: 26px;
    background: url(../images/sprite.png) no-repeat -59px -194px;
    background-size: 104px auto;
    margin: 2px auto -2px;
}


/* 搜索框 */

.search {
    position: relative;
    flex: 1;
    border: 1px solid #ccc;
    height: 26px;
    margin: 8px 10px;
    border-radius: 5px;
    padding-left: 25px;
    font-size: 12px;
    line-height: 24px;
    color: #666;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}


/* 放大镜 */

.search::before {
    position: absolute;
    top: 5px;
    left: 5px;
    content: "";
    width: 14px;
    height: 14px;
    background: url(../images/sprite.png)no-repeat -60px -280px;
    background-size: 104px auto;
}


/* 焦点图 */


/* 因为固定定位挡住图片，所以要空出来上面搜索框的高度 */

.focus {
    position: relative;
    padding-top: 44px;
    overflow: hidden;
}


/* 图片设置为铺满 */

.focus img {
    width: 100%;
}

.focus ul {
    overflow: hidden;
    width: 500%;
    /* 相对于父级来说 */
    margin-left: -100%;
}

.focus ul li {
    float: left;
    width: 20%;
}

.focus ol {
    position: absolute;
    bottom: 15px;
    right: 0;
}

.focus ol li {
    width: 5px;
    height: 5px;
    background-color: #fff;
    margin-right: 5px;
    float: left;
    border-radius: 2px;
    transition: all .3s;
}

.focus ol .current {
    background-color: #fff;
    width: 20px;
    border-radius: 17px;
}


/* 当地导航栏 */

.local_nav {
    display: flex;
    height: 64px;
    background-color: #fff;
    border-radius: 8px;
    margin: 3px 4px;
}


/* 每个占一份 */

.local_nav li {
    flex: 1;
}


/* 图标 */

.local_nav li [class^="local_nav_icon"] {
    width: 32px;
    height: 32px;
    background: url(../images/localnav_bg.png)no-repeat 0 0;
    background-size: 32px auto;
}

.local_nav li .local_nav_icon_icon2 {
    background-position: 0 -32px;
}

.local_nav li .local_nav_icon_icon3 {
    background-position: 0 -64px;
}

.local_nav li .local_nav_icon_icon4 {
    background-position: 0 -96px;
}

.local_nav li .local_nav_icon_icon5 {
    background-position: 0 -128px;
}

.local_nav a {
    display: flex;
    /* 主轴为Y轴 */
    flex-direction: column;
    /* 侧轴X轴水平居中 */
    align-items: center;
    margin-top: 8px;
    font-size: 12px;
}


/* nav主导航栏 */

nav {
    overflow: hidden;
    border-radius: 10px;
    margin: 0 4px 3px;
}


/* 一大行 公共样式 */

.nav_common {
    display: flex;
    height: 88px;
    background-color: pink;
}


/* 中间上下边距 */

nav .nav_common:nth-child(2) {
    margin: 3px 0;
}

.nav_items {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.nav_items a {
    flex: 1;
    text-align: center;
    line-height: 44px;
    color: #fff;
    font-size: 14px;
    text-shadow: 1px 1px rgba(0, 0, 0, .2);
}

.nav_common .nav_items:nth-child(1) a {
    border: 0;
    background: url(../images/hotel.png) no-repeat bottom center;
    background-size: 121px auto;
}

.nav_items a:nth-child(1) {
    border-bottom: 1px solid #fff;
}

.nav_common div:nth-child(-n+2) {
    border-right: 1px solid #fff;
}


/* 三个盒子渐变色 */

nav .nav_common:nth-child(1) {
    background: -webkit-linear-gradient(left, #fa5a55, #fa994d);
}

nav .nav_common:nth-child(2) {
    background: -webkit-linear-gradient(left, #4b90ed, #53bced);
}

nav .nav_common:nth-child(3) {
    background: -webkit-linear-gradient(left, #34c2a9, #6cd599);
}


/* 侧导航栏 */

.subnav_entry {
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    margin: 5px;
    flex-wrap: wrap;
    padding: 7px 0;
}

.subnav_entry li {
    flex: 20%;
}

.subnav_entry a {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* 图标部分 */

.subnav_entry li [class^="subnav_entry_icon"] {
    width: 24px;
    height: 24px;
    background: url(../images/subnav-bg.png) no-repeat;
    background-size: 24px auto;
}

.subnav_entry li .subnav_entry_icon_icon2 {
    background-position: 0 -24px;
}

.subnav_entry li .subnav_entry_icon_icon3 {
    background-position: 0 -54px;
}

.subnav_entry li .subnav_entry_icon_icon4 {
    background-position: 0 -84px;
}

.subnav_entry li .subnav_entry_icon_icon5 {
    background-position: 0 -109px;
}

.subnav_entry li .subnav_entry_icon_icon6 {
    background-position: 0 -138px;
}

.subnav_entry li .subnav_entry_icon_icon7 {
    background-position: 0 -167px;
}

.subnav_entry li .subnav_entry_icon_icon8 {
    background-position: 0 -193px;
}

.subnav_entry li .subnav_entry_icon_icon9 {
    background-position: 0 -218px;
}

.subnav_entry li .subnav_entry_icon_icon10 {
    background-position: 0 -243px;
}


/* 销售模块 */

.sales_box {
    border-top: 1px solid #ccc;
    background-color: #fff;
    margin: 4px;
    border-radius: 5px;
    /* overflow: hidden; */
}


/* 头部 */

.sales_box_hd {
    position: relative;
    height: 44px;
    border-bottom: 1px solid #ccc;
}


/* 利用文字缩进，消失 */

.sales_box_hd h2 {
    text-indent: -999999px;
}


/* 热门活动 */

.sales_box_hd h2::before {
    position: absolute;
    top: 15px;
    left: 10px;
    content: "";
    width: 71px;
    height: 15px;
    background: url(../images/hot.png) no-repeat 0 -19px;
    background-size: 75px auto;
}


/* 更多 */

.sales_box_hd a {
    position: absolute;
    top: 6px;
    right: 25px;
    background: -webkit-linear-gradient(left, #ff506c, #ff6bc6);
    padding: 3px 20px 3px 10px;
    border-radius: 15px;
    color: #fff;
}


/* 小圆角 利用CSS写出来 边框+旋转 */

.sales_box_hd a::after {
    content: "";
    position: absolute;
    top: 11px;
    right: 10px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}


/* 身体模块 */

.row {
    display: flex;
}

.row a {
    flex: 1;
    border-bottom: 1px solid #eee;
}

.row a:nth-child(1) {
    border-right: 1px solid #eee;
}

.row a img {
    width: 100%;
}


/* footer模块 */

footer {
    background-color: #fff;
    border-radius: 5px;
    margin: 0 4px;
    padding: 10px 0;
}

.footer_help {
    display: flex;
}

.footer_help li {
    flex: 1;
}

.footer_help li a {
    display: flex;
    /* 主轴为Y轴 */
    flex-direction: column;
    /* 侧轴居中对齐 */
    align-items: center;
    /* 主轴居中对齐 */
    justify-content: center;
}

.footer_help li [class^="footer_icon"] {
    width: 19px;
    height: 19px;
    background: url(../images/sprite.png) no-repeat -58px -151px;
    background-size: 104px auto;
}

.footer_help li .footer_icon_icon2 {
    background-position: -58px -170px;
}

.footer_help li .footer_icon_icon3 {
    background-position: -59px -310px;
}


/* copyright */

.copyright {
    text-align: center;
    margin-top: 15px;
}

.copyright em {
    vertical-align: middle;
}


/* 图标 */

.copyright em::before {
    display: inline-block;
    content: "";
    width: 17px;
    height: 17px;
    background: url(../images/sprite.png) no-repeat -59px -259px;
    background-size: 104px auto;
}


/* 利用旋转制造倒三角 */

.copyright em::after {
    margin: 0 5px;
    display: inline-block;
    content: "";
    width: 7px;
    height: 7px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    transform: rotate(45deg);
}


/* goback模块 */

.goback {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 38px;
    height: 38px;
    background: url(../images/back.png) no-repeat;
    background-size: 38px 38px;
}