/* 注册页面 */

.w {
    width: 1200px;
    margin: auto;
}


/* 头部 */

.header {
    height: 82px;
    border-bottom: 2px solid #b1191a;
}

.logo {
    padding-top: 15px;
}


/* 注册主题界面 */

.registerarea {
    height: 521px;
    border: 1px solid #ccc;
    margin-top: 20px;
}


/* 注册主页面-注册新用户 */

.registerarea_hd {
    height: 40px;
    line-height: 40px;
    background-color: #ececec;
    padding: 0 10px;
}


/* 每个不同字体 */

.registerarea_hd h3 {
    float: left;
    font-size: 18px;
    font-weight: 400;
}

.registerarea_hd em {
    float: right;
    font-size: 14px;
}

.registerarea_hd a {
    color: #b1191a;
}


/* 身体部分 */

.registerarea_bd {
    width: 600px;
    height: 400px;
    margin: 50px auto 0;
}

.registerarea_bd li {
    margin-bottom: 10px;
}

.registerarea_bd label {
    display: inline-block;
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: right;
}

.inp {
    width: 238px;
    height: 34px;
    border: 1px solid #ccc;
    margin-left: 10px;
}


/* 错误 */

.error {
    color: #df3033;
}


/* 成功 */

.success {
    color: #40b83f;
}


/* 图标 */

.error_icon,
.success_icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

.error_icon {
    background: url(../img/error.png) no-repeat;
}

.success_icon {
    background: url(../img/success.png) no-repeat;
}


/* 安全判定 */

.safe {
    padding-left: 184px;
    margin: 10px 0;
}

.safe h3 {
    display: inline;
    font-size: 12px;
    font-weight: 400;
    color: #b2b2b2;
}

.safe em {
    color: #fff;
}

.ruo,
.zhong,
.qiang {
    padding: 0 11px;
}

.ruo {
    background-color: #de1111;
}

.zhong {
    background-color: #40b83f;
}

.qiang {
    background-color: #f79100;
}


/* 同意协议 */

.agree {
    margin-left: 112px;
    margin-top: 40px;
}


/* 同意协议-标签 */

.agree input {
    vertical-align: middle;
}


/* 同意协议-变蓝 */

.agree a {
    color: blue;
}


/* 完成注册 */

.comp {
    display: block;
    width: 200px;
    height: 35px;
    background-color: #c81623;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    margin: 50px 0 58px 120px;
    border: transparent;
}


/* copyright */

.mod_copyright {
    text-align: center;
}

.mod_copyright_item {
    margin: 20px 0 15px 0;
}

.mod_copyright_info {
    line-height: 18px;
}